<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm :product="selectedItem" ref="productForm" @save="saveProduct"></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItems" :fields="fields">
            <template #cell(price)="{ item }">
              ฿ {{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' )}}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                class="ml-3"
                variant="danger"
                @click="deleteProduct(item)"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'sucess', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: 'title',
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (product) {
      console.log('Submit', product)
      if (product._id === '') { // Add New
        axios.post('http://localhost:3000/products', product).then(
          function (response) {
            const newProduct = response.data
            this.getProducts()
            this.makeToast('เพิ่มสำเร็จ', 'สินค้า ' + newProduct._id + 'ถูกเพิ่มแล้ว')
          }.bind(this).catch(() => {
            this.makeToast('เพิ่มไม่สำเร็จ', 'ไม่สามารถเพิ่มได้' + product._id, 'danger')
          })
        )
      } else { // Update
        axios.put('http://localhost:3000/products/' + product._id, product).then(
          function (response) {
            const updateProduct = response.data
            this.getProducts()
            this.makeToast('ปรับปรุงสำเร็จ', 'สินค้า ' + updateProduct._id + 'ถูกแก้ไขแล้ว')
          }.bind(this).catch(() => {
            this.makeToast('ปรับปรุงไม่สำเร็จ', 'ไม่สามารถปรับปรุง' + product._id, 'danger')
          })
        )
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (product) {
      if (confirm(`คุณต้องการจะลบสินค้า ${product._id} หรือไม่`)) {
        axios.delete('http://localhost:3000/products/' + product._id).then(
          function (response) {
            this.makeToast('ลบสินค้า', 'สินค้า ' + product._id + 'ถูกลบแล้ว')
            this.getProducts()
          }.bind(this)
        ).catch(() => {
          this.getProducts()
          this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ' + product._id, 'danger')
        })
      }
    },
    getProducts () {
      axios.get('http://localhost:3000/products').then(function (response) {
        console.log(response)
        this.productItems = response.data
      }.bind(this))
    }

  },
  data () {
    return {
      fields: [
        { key: '_id', label: 'ไอดี' },
        { key: 'name', label: 'ชื่อสินค้า' },
        { key: 'price', label: 'ราคา' },
        { key: 'operators', label: 'กระบวนการ' }
      ],
      productItems: [
        // { id: 1, name: 'IPad gen1 64G Wifi', price: 11000.0 },
        // { id: 2, name: 'IPad ge2 64G Wifi', price: 12000.0 },
        // { id: 3, name: 'IPad gen3 64G Wifi', price: 13000.0 },
        // { id: 4, name: 'IPad gen4 64G Wifi', price: 14000.0 },
        // { id: 5, name: 'IPad gen5 64G Wifi', price: 15000.0 },
        // { id: 6, name: 'IPad gen6 64G Wifi', price: 16000.0 },
        // { id: 7, name: 'IPad gen7 64G Wifi', price: 17000.0 },
        // { id: 8, name: 'IPad gen8 64G Wifi', price: 18000.0 },
        // { id: 9, name: 'IPad gen9 64G Wifi', price: 19000.0 },
        // { id: 10, name: 'IPad gen10 64G Wifi', price: 20000.0 }
      ],
      // productId: 11,
      selectedItem: null
    }
  },
  mounted () {
    this.getProducts()
  }
}
</script>
<style></style>
